In [3]:
import pandas as pd

In [6]:
data = pd.read_csv("../files/trustpositifkominfo.csv")
data.head(10)

                                            $TTL 900
0  @\tSOA\tlocalhost.\taduankonten.mail.kominfo.g...
1                              \t2023081302\t;Serial
2                                 \t1000\t\t;Refresh
3                                   \t1000\t\t;Retry
4                               \t2592000\t\t;Expiry
5                                     \t900)\t\t;TTL
6                              @\tIN\tNS\tlocalhost.
7  partaikomunisindonesia.wordpress.com 3600 IN C...
8  raymondibrahim.com 3600 IN CNAME trustpositif....
9  buktidansaksi.com 3600 IN CNAME trustpositif.k...

In [7]:
# delete row 0-6
data = data.drop(data.index[0:7])

In [8]:
data

                                                  $TTL 900
7        partaikomunisindonesia.wordpress.com 3600 IN C...
8        raymondibrahim.com 3600 IN CNAME trustpositif....
9        buktidansaksi.com 3600 IN CNAME trustpositif.k...
10       murtadinkafirun.forumotion.net 3600 IN CNAME t...
11       mantanmuslim.com 3600 IN CNAME trustpositif.ko...
...                                                    ...
3869852  *.zonagladiator88.com 3600 IN CNAME trustposit...
3869853  *.oyo88a.co 3600 IN CNAME trustpositif.kominfo...
3869854  *.oyo99a.net 3600 IN CNAME trustpositif.kominf...
3869855  *.thesmartwatchreview.com 3600 IN CNAME trustp...
3869856  *.oyoslot2.org 3600 IN CNAME trustpositif.komi...

[3869850 rows x 1 columns]

In [10]:
data.columns = ['url']

In [12]:
data = data['url'].str.split(' ', expand=True)

In [20]:
data = data[0]

In [22]:
# export to csv
data.to_csv("../files/negative.csv", index=False)

In [23]:
# export to json
data.to_json("../files/negative.json", orient='records')

In [9]:
balanced = pd.read_csv("../balanced_urls.csv")
balanced.head(3)

                        url   label  result
0    https://www.google.com  benign       0
1   https://www.youtube.com  benign       0
2  https://www.facebook.com  benign       0

In [6]:
benign = balanced[balanced['label'] == 'benign'].count()
malicious = balanced[balanced['label'] == 'malicious'].count()

Benign URLs: url       316254
label     316254
result    316254
dtype: int64
Malicious URLs: url       316254
label     316254
result    316254
dtype: int64

In [21]:
## ambil 1000 data benign dan 1000 data malicious,
benign = balanced[balanced['label'] == 'benign'].head(1000)
malicious = balanced[balanced['label'] == 'malicious'].head(1000)

benign = benign['url']
malicious = malicious['url']

### buatkan file json untuk benign masing masing 25 url, jadi ada 40 file benign json
for i in range(0, 1000, 25):
    benign[i:i+25].to_json(f"../files/json/benign_{i}.json", orient='records')
    malicious[i:i+25].to_json(f"../files/json/malicious_{i}.json", orient='records')