In [2]:
import pandas as pd

In [6]:
data = pd.read_csv("../files/trustpositifkominfo.csv")
data.head(10)

                                            $TTL 900
0  @\tSOA\tlocalhost.\taduankonten.mail.kominfo.g...
1                              \t2023081302\t;Serial
2                                 \t1000\t\t;Refresh
3                                   \t1000\t\t;Retry
4                               \t2592000\t\t;Expiry
5                                     \t900)\t\t;TTL
6                              @\tIN\tNS\tlocalhost.
7  partaikomunisindonesia.wordpress.com 3600 IN C...
8  raymondibrahim.com 3600 IN CNAME trustpositif....
9  buktidansaksi.com 3600 IN CNAME trustpositif.k...

In [7]:
# delete row 0-6
data = data.drop(data.index[0:7])

In [8]:
data

                                                  $TTL 900
7        partaikomunisindonesia.wordpress.com 3600 IN C...
8        raymondibrahim.com 3600 IN CNAME trustpositif....
9        buktidansaksi.com 3600 IN CNAME trustpositif.k...
10       murtadinkafirun.forumotion.net 3600 IN CNAME t...
11       mantanmuslim.com 3600 IN CNAME trustpositif.ko...
...                                                    ...
3869852  *.zonagladiator88.com 3600 IN CNAME trustposit...
3869853  *.oyo88a.co 3600 IN CNAME trustpositif.kominfo...
3869854  *.oyo99a.net 3600 IN CNAME trustpositif.kominf...
3869855  *.thesmartwatchreview.com 3600 IN CNAME trustp...
3869856  *.oyoslot2.org 3600 IN CNAME trustpositif.komi...

[3869850 rows x 1 columns]

In [10]:
data.columns = ['url']

In [12]:
data = data['url'].str.split(' ', expand=True)

In [20]:
data = data[0]

In [22]:
# export to csv
data.to_csv("../files/negative.csv", index=False)

In [23]:
# export to json
data.to_json("../files/negative.json", orient='records')